# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
.venv/
env/
ENV/

# Env variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Django
media/
staticfiles/

# Logs
*.log



# Docker
#.dockerignore

# Local files
*.local